/* CSS Added by Rodrigo de Mingo */


/* Background Color */

.layout-boxed,
.content-wrapper {
    background: #fff;
}


/* HEADER */

.main-header .logo {
    height: 5rem;
}
/* Header */
.content-header {
    padding: 0;
    margin: 15px;
}

/* Logo Header */
header>a.logo>img.img-responsive {
    max-width: 11rem;
    margin: 0.2rem auto;
}
/* Login Box background color*/
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    color: #444;
}

