/* CSS Added by Rodrigo de Mingo */


/* HOME PAGE */

.layout-boxed,
.content-wrapper {
    background: #fff;
}

h1 {
    color: #357ca5;
}

.main-header {
    max-height: 107px;
}

.main-header .logo {
    height: 10rem;
    margin: 0.2rem auto;
}

@media (max-width:767px) {
    .main-header .logo {
        width: 27rem;
    }
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    color: #444;
}

.widget-user .box-footer {
    padding: 2.43rem 2.4rem;
}

.quick-links {
    margin: 30px;
}

.program-information h4 {
    font-weight: 600;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}

.widget-user .widget-user-header {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navbar-custom-menu .navbar-nav>li>a {
    padding-top: 26px;
}


/* LOGIN PAGE */

.colorgraph {
    height: 5px;
    border-top: 0;
    margin: 10px 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}